APScheduler==3.11.3
Markdown==3.10.2
PySide6==6.11.1
cryptography==46.0.7
fastapi==0.141.1
packaging==26.3
playwright==1.62.0
psutil==7.2.2
pydantic==2.12.5
pysqlcipher3==1.2.0
pytest==9.1.1
python-jose==3.5.0
python-owasp-zap-v2.4==0.1.0
reportlab==5.0.0
requests==2.34.2
shodan==1.31.0
slowapi==0.1.10
sqlmap==1.10.8
sslyze==6.3.1
uvicorn==0.52.1
weasyprint==69.0
